In [2]:
import csv
import json
import mysql.connector

In [6]:
# please modify hw4_config.json to your own config file
with open('hw4_config.json') as f:
    config = json.load(f)

host = config['host']
user = config['user']
passwd = config['passwd']
dbms_student_path = config['dbms_student_path']
new_student_path = config['new_student_path']

## 1-1: Input data into student table

In [8]:
mydb = mysql.connector.connect(host=host, user=user, passwd=passwd)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (111)

## 1-2: Read the information about yourself

## 1-3: Update your own value of the "身份" column

## 1-4: Insert three new students

## 1-5: Prepared select statement

## 1-6: Group information